__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# Data artifacts
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
